.textcenter {
    text-align: center;
}

.headingsmall{
    font-size: 0.5rem;
}

.headingmedium{
    font-size: 1.5rem;
}
.headingbig{font-size: 1.75rem;}

.bcblue{color:white;
background-color: darkblue;}
.width33{ width: 33%;}
.formgroup{
    padding: 0.25rem 0;
}

