#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 80px;
}
#training .items {
    flex-direction: column;
}

#training .items .item {
    width: 90%;
}

.courses1 .course{ display: flex;
flex-direction: column;}