.product-item{
    border: 1px solid #e3e4e5;
    height: 250px;
    background-color:rgba(0,0,0,.3);
}
.product-item img{
    width: 100%;
    opacity: .9;
    height: 120px;
    
}

.product-info{
    padding: 10px;
}
.product-tittle{
    font-weight: bold;
    margin: 0;
}
.product-price{
    font-size: 14px;
}