.bbp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: auto;
    padding-right: 15px;
    text-align: center;
    
}
.bb{
    background-color: black;
    color: white;
}

.fa-solid{
    width: 12px;
    height: 10px;
    background-color: black;
    padding-top: 3px;
    padding-left: 15 px;
}