

#navbar{
    width: 80%;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 height: 70px;
 margin: auto;
 background-color: black;
 padding-left: 10%;
 padding-right:10% ;

 
}

.leftDiv{
    display: flex;
    flex-direction: row;
    width: 50%;
    background-color: black;

}
.leftDiv:hover{
    cursor: pointer;
}
.logo{
    width: 70px;
    background-color: black;
}

.rightDiv{
    display: flex;
    width: 50%;
    background-color: black;

}

.ulr {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    list-style: none;
    background-color:black;
    margin-top: 20px;
    width: 100%;

}

#search-Input{
    width: 250px;
    margin-right: 10px;
}

.container{
    display: flex;
    width: 80%;
    height: 50px;
background-color: gainsboro;}

.kategorilerul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    height: 50px;
position: relative;
margin-top: auto;
}
.kategori{
    padding-top: 10px;
}
.kategori:hover{
    background-color: gainsboro;
    color:white;
    cursor: pointer;
}